body#tierOne {
	background-image:url('../image/babyScooby.jpg');
	background-size:100% 100%;
	background-repeat:no-repeat;
}

section#content {
	padding-top: 350px;
}

body#tierTwo {
	background-image:url('../image/goofyScooby.jpg');
	background-size:100% 100%;
	background-repeat:no-repeat;
}

body#tierThree {
	background-image:url('../image/kingScooby.jpg');
	background-size:100% 100%;
	background-repeat:no-repeat;
}

.button {
	xmargin: 0;
}

.columns {
	xpadding: 0;
}

.color1 {
	background-color: red
}

.color2 {
	background-color: MediumSeaBlue
}

.color3 {
	background-color: orange
}

.color4 {
	background-color: blue
}

.color5 {
	background-color: IndianRed
}

.color6 {
	background-color: Fuchsia
}

.color7 {
	background-color: purple
}

.color8 {
	background-color: gold 
}

.color9 {
	background-color: Indigo  
}

.used {
	background-color:  green;
}
